{
  "presets": ["env", "react", "flow"],
  "plugins": ["transform-object-rest-spread", [
      "babel-plugin-transform-flow-strip-types"
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    ["transform-class-properties", {
      "spec": true
    }]
  ]
}