.musicAbout {
  width: 750px;
}
.musicTitle {
  color: #fff;
  font-size: 17px;
}

.musicPlayTitle {
  color: #1db954;
  font-size: 18px;
}

.nameArtist {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
}
