.selectButton {
  border: 0;
  background: #2ba0a0;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  max-width: 110px;
  margin: 1px;
  font-weight: 300;
}

.selectButton:hover {
  background: #1d8888;
}

.selectButton:active,
.selectButton:focus {
  outline: 0;
  background: #5aafaf;
}
