.MusicList {
  margin-left: 30px;
}
.playListBox {
  display: flex;
}
.selectPlayList {
  display: flex;
}

.next {
  margin-right: 20px;
  color: #bbb;
}

.back {
  margin-right: 20px;
  color: #bbb;
}

.playListName {
  margin-right: auto;
  color: white;
  margin-bottom: 5px;
}

hr {
  border: none;
  opacity: 0.2;
  border-top: 1px #bbb solid;
  margin-bottom: 15px;
}
