.footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 90px;
  background-color: #181818;
  display: flex;
}

.leftPlayer {
  width: 200px;
  margin: auto 30px;
}

.playerMusicName {
  color: white;
}

.playerMusicNameLink {
  color: white;
  text-decoration: none;
}

.playerMusicArtist {
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.6);
}

.centerPlayer {
  text-align: center;
  height: 90px;
}

.centerPlayerTop {
  height: 64px;
}

.backPlayMusic {
  padding-bottom: 43px;
  padding-right: 10px;
}

.nextPlayMusic {
  padding-left: 10px;
  padding-bottom: 43px;
}

.loopPlayMusic {
  padding-left: 20px;
  padding-bottom: 42px;
}

.timePlayer {
  display: flex;
  justify-content: center;
}

progress {
  margin-top: 6px;
  background: #fff;
  height: 5px;
  width: 300px;
}

.playedTime {
  font-size: 12px;
  padding-right: 20px;
  color: hsla(0, 0%, 100%, 0.6);
}

.remainingTime {
  font-size: 12px;
  padding-left: 20px;
  color: hsla(0, 0%, 100%, 0.6);
}

.rightPlayer {
  margin: auto;
}
