.musicList {
  padding-left: 30px;
}
.musicRow {
  display: flex;
  margin-bottom: 18px;
  width: 100%;
}

.musicRow:hover {
  background-color: #222222;
}

.musicTime {
  padding-top: 10px;
  padding-right: 30px;
  color: hsla(0, 0%, 100%, 0.6);
}
