.ArtistMusicPlayer {
  display: flex;
}
.ArtistMusicPlayer-artistInfo {
  width: 30%;
  text-align: center;
  margin-top: 50px;
}

.ArtistMusicPlayer-artistInfo img {
  width: 250px;
  height: 250px;
}
.ArtistMusicPlayer-artistInfo div {
  font-size: 20px;
  color: white;
}
