.ArtistMusicPlayer {
  display: flex;
}

.ArtistMusicPlayer-artistInfo {
  width: 30%;
  text-align: center;
  margin-top: 50px;
}

.ArtistMusicPlayer-artistInfo img {
  width: 250px;
  height: 250px;
}

.ArtistMusicPlayer-artistInfo div {
  font-size: 20px;
  color: white;
}

.ArtistMusicPlayer-row {
  cursor: pointer;
  display: flex;
  width: 70%;
  margin-top: 50px;
}

.ArtistMusicPlayer-name {
  color: white;
}

.ArtistMusicPlayer-artist {
  font-size: 10px;
  color: hsla(0, 0%, 100%, 0.6);
}

.ArtistMusicPlayer-nameArtistBox {
  width: 700px;
  margin-left: 30px;
}

.ArtistMusicPlayer-time {
  color: hsla(0, 0%, 100%, 0.6);
}

.ArtistMusicPlayer-musicDisplay {
  width: 25%;
  text-align: center;
  margin: 50px 30px;
}

.ArtistMusicPlayer-musicDisplay div {
  font-size: 20px;
  color: white;
}

.ArtistMusicPlayer-player {
  text-align: center;
  margin: auto;
}

.ArtistMusicPlayer-setMusicName {
  color: #1db954;
}
