.searchYoutubeMusic {
  margin-left: 20px;
}

form {
  margin-top: 100px;
}

.btn {
  margin-top: 70px;
  margin-right: 30px;
  display: inline-block;
  text-decoration: none;
  background: #1db954;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 47px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.4s;
}

.btn:hover {
  background: #668ad8;
}

.myMusicList {
  display: flex;
}

.myMusicPlayList {
  margin: 0 8px;
}
.myMusicPlayList div {
  color: #fff;
}

.emptyImage {
  width: 200px;
  height: 200px;
}

.makeAlbum-displayMusic {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: black;
  opacity: 0;
  display: flex;
  justify-content: center;
}

.makeAlbum-displayMusic:hover {
  opacity: 0.5;
}

.makeAlbum-playBtn {
  margin-top: 60px;
  background-image: url("../../images/play.svg");
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  background-size: 50px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.makeAlbum-playBtn:hover {
  opacity: 0.7;
}
