.management-displayAddList {
  display: flex;
}

.management-displayAddList div {
  color: white;
  padding: 15px;
}

.form {
  margin-top: 100px;
}

.Management-type {
  display: flex;
}

.Management-type h2 {
  padding: 0 20px;
}

.Management-white {
  color: white;
}

.Management-black {
  color: black;
}

.Management-verification {
  display: flex;
}
