.myAlubm-searchForm {
  margin: 30px 0 10px;
  width: 200px;
  height: 30px;
  display: block;
  height: 24px;
  position: relative;
}

.myAlubm-searchKeyWord {
  width: 156px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 12px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.myAlbum-displayMusicBox {
  display: flex;
  margin: 10px 0 10px;
}

.myAlbum-displayMusic {
  margin: 10px;
}

.myAlbum-addBtnWrapper {
  width: 100px;
  height: 270px;
  margin: 0 25px;
}

.myAlbum-addBtn {
  margin: 100px 25px;
  display: inline-block;
  text-decoration: none;
  background: #1db954;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 47px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.4s;
}

.myAlbum-addBtn:hover {
  background: #668ad8;
}

.myAlbum-musicController {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: black;
  opacity: 0;
  display: flex;
  justify-content: center;
}

.myAlbum-musicController:hover {
  opacity: 0.5;
}

.myAlbum-playBtn {
  margin-top: 60px;
  margin-left: 25px;
  background-image: url("../../images/play.svg");
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  background-size: 50px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.myAlbum-playListName {
  cursor: pointer;
  color: white;
}

.myAlbum-playListName:hover {
  color: #1db954;
}

.myAlbum-selected {
  cursor: pointer;
  color: #1db954;
}

.myAlbum-detailMusic {
  margin-top: 90px;
  margin-left: 10px;
  color: white;
}

.myAlbum-playBtn:hover {
  opacity: 0.7;
}

.myAlbum-musicAction {
  width: 150px;
}

.myAlbum-musicAction1 {
  margin: 5px;
  color: hsla(0, 0%, 100%, 0.6);
}

.myAlbum-musicAction1:hover {
  color: white;
}

/* MyAlubmResultAddBtnコンポーネント  */

.MyAlubmResult-resultLists {
  display: flex;
  flex-wrap: wrap;
}

.MyAlubmResult-resultBox {
  margin-top: 20px;
  height: 20%;
  width: 20%;
}

.MyAlubmResult-resultPlayer {
  margin: 0;
  padding: 10px;
}

.MyAlubmResult-wrraper {
  display: flex;
}

.MyAlubmResult-resultTitle {
  color: #fff;
  padding: 10px;
  font-size: 5px;
  height: 40px;
}

.MyAlubmResultAddBtn-addBtn {
  text-align: center;
  height: 20px;
  width: 20px;
  font-size: 20px;
  padding: 8px 5px;
  color: hsla(0, 0%, 100%, 0.6);
}

.MyAlubmResultAddBtn-addBtn:hover {
  color: #fff;
}

.MyAlubmResultAddBtn-alreadyAdd {
  text-align: center;
  height: 20px;
  width: 20px;
  font-size: 20px;
  padding: 8px 5px;
  color: #1db954;
}

/* .MyAlubmResultAddBtn-selectBtn {
  margin-top: 20px;
  color: white;
} */
