.defaultMusicPlayList {
  display: flex;
}
.defaultMusicPlayBox h2 {
  margin: 20px 20px 10px;
  color: #fff;
}
.musicPlayBox {
  margin: 10px 20px;
}

.MyMusicPlayList {
  display: flex;
}

.displayMusicController {
  position: absolute;
  width: 250px;
  height: 200px;
  background-color: black;
  opacity: 0;
}

.displayMusicController:hover {
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

.playBtnMusic {
  margin: auto;
}

.displayMusicPlaybtn {
  background-image: url("../../images/play.svg");
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  background-size: 50px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.displayMusicPlaybtn:hover {
  opacity: 0.7;
}
